.todo__list {
  line-height: 1.5;
}

.todo__item {
  position: relative;

  display: flex;
  padding: 0px;
  background-color: var(--main-light-grey-color);
  border-radius: 10px;

  min-height: 44px;

  margin-bottom: 10px;
}

.todo__item__important {
  background-color: var(--light-red-color);
}

.todo__item input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  visibility: hidden;

  position: absolute;

  &:checked + label {
    background-color: var(--light-green-color);
    border-radius: 10px;
  }

  &:checked + label::before {
    background-color: var(--green-color); // фоновый цвет чекбокса при input:checked
    background-image: url(./checkmark.svg); // фоновая картинка при input:checked, по умолчанию занимает пространство content и padding
    background-size: contain; // фоновая картинка уменьшается до размеров псевдоэлемента label::before (чекбокса)
    background-origin: padding-box; // какое пространство занимает фоновая картинка, при border-box занимает content, padding и border
    background-repeat: no-repeat;
    border-color: transparent;
  }
}

.todo__item label::before {
  content: '';
  position: absolute;
  top: 14px;
  left: 14px;

  display: inline-block;
  min-width: 1em;
  height: 1em;
  border: 2px solid black;
  border-radius: 4px;
}

.todo__item label {
  padding: 10px 68px 10px 40px;
  width: 100%;
}

.edit-todo,
.delete-todo {
  position: absolute;
  top: 0px;
  right: 0px;

  margin: 0;

  border: none;
  // border: 1px solid var(--grey-color);

  background-color: transparent;

  min-width: 34px;
  height: 44px;

  cursor: pointer;

  background-size: 10px;
  background-origin: content-box; // какое пространство занимает фоновая картинка, при border-box занимает content, padding и border
  background-repeat: no-repeat;
}

.edit-todo {
  right: 34px;
  padding: 17px 10px 17px 14px;
  background-image: url(./pencil.svg);
}

.delete-todo {
  padding: 17px 14px 17px 10px;
  background-image: url(./cross.svg);
}

.line {
  background-color: var(--grey-color);
  width: 96%;
  height: 1px;
  margin: 0 auto 10px auto;
}
