.todo-creator__form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;

  padding: 10px;
  margin: 0;

  width: 100%;
  min-height: 64px;

  background-color: var(--main-light-grey-color);
  border-top: 1px solid var(--grey-color);
}

.todo-creator__form input {
  font-size: 16px;
  width: 100%;

  margin: 0 10px 0 0;
  padding: 10px;

  border: none;
  border-radius: 22px;
}

.todo-creator__form button {
  font-size: 16px;

  color: white;
  background-color: var(--green-color);
  border: none;
  border-radius: 22px;

  margin: 0;
  padding: 10px 20px;

  min-height: 43px;
}
