.todo-creator__form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;

  max-width: 540px;

  padding: 10px;
  margin: 0 auto;

  width: 100%;

  background-color: white;
  // background-color: var(--main-light-grey-color);
  border-top: 1px solid var(--light-grey-color);
}

.todo-creator__form input {
  font-size: 16px;
  width: 100%;
  min-height: 40px;

  margin: 0 10px 0 0;
  padding: 0 15px;

  // border: none;
  border: 1px solid var(--main-light-grey-color);
  border-radius: 20px;

  outline: none;

  &::placeholder {
    color: var(--grey-color);
  }
}

.todo-type-btn {
  min-width: 24px;
  height: 24px;
  margin-right: 10px;
  border: none;
  border-radius: 50%;

  &[value='standart'] {
    background-color: var(--main-light-grey-color);
  }
  &[value='important'] {
    background-color: var(--light-yellow-color);
  }
  &[value='very-important'] {
    background-color: var(--light-red-color);
  }
}

.add-todo-btn {
  background-color: var(--dark-grey-color);
  border: none;
  border-radius: 50%;

  margin: 0;
  padding: 8px 8px 10px 10px;

  min-width: 40px;
  height: 40px;

  cursor: pointer;

  background-image: url(../../images/add-todo.svg);
  background-origin: content-box;
  background-size: cover;
  background-repeat: no-repeat;
}
