:root {
  --main-light-grey-color: rgb(230, 235, 240);
  --grey-color: rgb(200, 200, 200);
  --light-red-color: rgb(255, 175, 175);
  --green-color: rgb(0, 204, 102);
  --light-green-color: rgb(125, 225, 125);
}

body {
  padding: 80px 0 80px 0;
}

#root {
  padding: 10px;
}
