:root {
  --main-light-grey-color: rgb(235, 240, 245);
  --light-grey-color: rgb(195, 200, 205);
  --grey-color:: rgb(150, 155, 160);
  --dark-grey-color: rgb(45, 50, 55);
  // --light-yellow-color: rgb(255, 230, 130);
  // --light-red-color: rgb(255, 180, 180);
  --red-color: rgb(255, 120, 120);
  --light-blue-color: rgb(170, 245, 255);
  --blue-color: rgb(100, 225, 255);
  --green-color: rgb(0, 204, 102);
  --light-green-color: rgb(25, 225, 125);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  height: 100%;
}

#root {
  padding: 10px 10px 71px 10px;
  max-width: 540px;
  margin-right: auto;
  margin-left: auto;
}

.button {
  font-family: inherit;
  font-size: 16px;

  color: white;
  background-color: var(--green-color);
  border: none;
  border-radius: 20px;

  margin: 0;
  padding: 0 15px;

  min-height: 40px;

  cursor: pointer;
}

input {
  font-family: inherit;
}